<div id="customization-btn-wrapper">
    <br/>
  
  <input class="button large plus customization-btn btn btn-1 big btn-block pulsate-regular"
        type="submit"
        style=""
        onclick="openCustomizationWindow();"type="submit" name ="add" class="" value="Customize Now" />

    <input id='customization-engine-design-id' type='hidden' name='properties[{- Design -}]' value='' />
    <input id='customization-engine-preview-image' type='hidden' name='properties[{- Preview Image -}]' value='' />

</div>
<br/>
<div id="customization-info-container"></div>
<script>
    var cePropertiesString = "";
    var designAddedToCart = false;
    function yarUrlParams() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m, key, value) {
            vars[key] = value;
        });

        return vars;
    }

    function yarUrldecode(url) {
        return decodeURIComponent(url.replace(/\+/g, " "));
    }

    function openCustomizationWindow() {
        designAddedToCart = false;
        var variantIdString = '';
        var selectedVariantId = jQuery('select[name="id"]').val();
        if (typeof selectedVariantId != 'undefined') {
            variantIdString = '/variant_id/' + selectedVariantId;
        }
        window.scrollTo(0, 0);
        var element = document.getElementById("designer-window-container");
        element.style.display = "block";

        var iframe = document.getElementById("designer-window-frame");
        var height = jQuery(window).height() * .8;
        jQuery(iframe).css('height', 600 + 'px');


        var urlProtocol = window.location.protocol === "https" ? "https" : "http";
        var url = "/cese/v2/ce/widget/index/client_id/1186/product_id/__productId__";
        url = url.replace('__productId__', '{{product.id}}');
        url = "//www.customizationengine.com" + url + variantIdString;
        url = url + "?redirect=" + window.location;
        url = url + "&" + cePropertiesString;
        iframe.src = url;
        jQuery(window).on('message', function(e) {
            var origin = e.originalEvent.origin;
            if (origin == 'http://www.customizationengine.com' ||
                    origin == 'https://www.customizationengine.com') {
                var data = e.originalEvent.data;
                data = JSON.parse(data);
                console.log('passed data');

                if (typeof data === 'object') {
                    if (!designAddedToCart) {
                        if (typeof data['{- Design -}'] !== 'undefined') {
                            jQuery('#customization-engine-design-id').val(data['{- Design -}']);
                            if (typeof data['{- Preview Image -}'] !== 'undefined') {
                                jQuery('#customization-engine-preview-image').val(data['{- Preview Image -}']);
                            }
                            jQuery.each(data, function(index, control) {
                                console.log(control);
                                if (typeof control.control_type !== 'undefined') {
                                    if (control.control_type === 'quantity') {
                                        jQuery('input[name="quantity"]').val(control.value);
                                    }
                                }
                            });
                            closeCustomizationEngineDesignerContainer();
                            submitButton = jQuery("form[action=\"/cart/add\"] button[type=\"submit\"]");
                            if (submitButton.length == 0) {
                                submitButton = jQuery("form[action=\"/cart/add\"] input[type=\"submit\"]").first();
                                if (submitButton.length == 0) {
                                    submitButton = jQuery("form[action=\"/cart/add\"] input[type=\"submit\"]").first();
                                }
                            }
                            if (submitButton.length > 0) {
                                designAddedToCart = true;
                                jQuery(submitButton).click();
                            }
                        }
                    }
                }
            }
        });
    }
    function closeCustomizationEngineDesignerContainer() {
        element = document.getElementById("designer-window-container");
        element.style.display = "none";
    }

    window.onload = function() {
        if (!(window.jQuery)) {
            var s = document.createElement("script");
            s.setAttribute("src", "http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js");
            s.setAttribute("type", "text/javascript");
            document.getElementsByTagName("head")[0].appendChild(s);
            jQuery.noConflict();
        }

        windowContainerFragment = document.getElementById("designer-window-container");
        document.body.appendChild(windowContainerFragment);

        var qtyInput = jQuery('input[name="quantity"]');
        if(qtyInput.length == 0){
           var input = "<input id='quantity-input' type='hidden' name='quantity' value='1' />";
           jQuery('#customization-btn-wrapper').append(input);
        }

    }

</script>
<div id="designer-window-container"
     onclick="closeCustomizationEngineDesignerContainer();"
     style="position:absolute;top:0;left:0;width:100%;height:100%;display:none;
     background:url(http://www.customizationengine.com/ces/static/lightbox-bg.png) repeat;z-index: 1000000">
    <div style="width:98%;max-width:1200px;height:96%;margin-top:.5%;margin-left:auto;margin-right:auto;position: relative;padding:10px;background:none;">
        <iframe id="designer-window-frame"
                name="designer-window-frame" 
                src="" 
                frameborder="0" 
                scrolling="no"
                seamless="yes"
                style="position:relative;margin:auto;height:96%;width:100%;background:none;"
                ></iframe>
        <div style="float:right">
            <a href="#" onclick="closeCustomizationEngineDesignerContainer()"
               style="position:absolute;top:10px;right:5px"></a>
        </div>
    </div>
</div>
