
<script id="modal-dibsies-on-double" type="text/template">

	<div class="modal-dialog modal-lg"> 
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>

			<div class="modal-body">
				<img src="https://res.cloudinary.com/dibsies/image/upload/v1497383219/DibsiesOnTheDoubleMap_esn1yc.jpg" width="100%"/>
			</div>

			<div class="modal-footer">
				
				<input id="close-modal" class="button large plus" data-dismiss="modal" value="Close" style="text-align:center; margin-left:auto; margin-right:auto;" type="button" >
			</div>

		</div>
	</div>

</script>