<div id="util-bar">
   
    <div class="container">
        <div class="cartsocialcont 
            
    		<div class="actions">
              	<a href="/" ><img width="175" src="{{ 'mobilelogo.png' | asset_url }}" alt="{{ store.name }}" /></a>
                <hr/>
               
                
            </div>
		</div>

	</div>
</div>
