<div class="pagesnippetwidget widget{% if template == 'index' %} one-third column{% endif %}">
{% if pages[data].handle == '' %}&nbsp;
{% else %}
    <a href="{{ pages[data].url }}"><h6>{{ pages[data].title }}</h6></a>
    {% capture desc %}{% include 'process-html-strip' with pages[data].content %}{% endcapture %}
    {{ desc | strip_html | truncate: 200 }}
   <br /><a href="{{ pages[data].url }}"> more &rarr;</a>
{% endif %}
</div>