{% layout settings.customer_layout %}

<div class="formfields eight columns">
    <h1>Reset Account Password</h1>

    <p class="note">Enter a new password for {{ email }}</p>

    {% form 'reset_customer_password' %}
      {{ form.errors | default_errors }}
      
      <div id="password" class="inputrow">
        <label for="password" class="hoverlabel">Password</label>
        <input type="password" value="" name="customer[password]" id="password" class="large password" size="16" />
      </div>
      <div id="password_confirm" class="inputrow">
        <label class="hoverlabel" for="password_confirmation">Confirm Password</label>
        <input type="password" value="" name="customer[password_confirmation]" id="password_confirmation" class="large password" size="16" />
      </div>
      <div class="action_bottom">
        <input class="button" type="submit" value="Reset Password" />
      </div>
    {% endform %}
</div>
