<div class="page-width" style="margin-top: 20px; margin-bottom: 20px;">
  <div class="mt-widget" data-widget-id="1201"></div>
</div>

{% schema %}

  {
    "name": "Trending Products",
    "class": "index-section",
    "presets": [
      {
        "name": "Trending Products",
        
        "category": "Metisa Recommendation"
      }
    ]
  }
{% endschema %}

